@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
/* background-color: rgb(14, 153, 165); */
font-family: 'Noto Serif', serif;
color: rgb(4, 4, 43);

}
.supercontainer{
    width: 100%;
    height: 100vh;
    position: relative;
}
header{
    /* margin-top: 20px; */
    width: 100%;
    height:75px;
    background-color:rgba(254, 251, 251, 0.952);
    color:black;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    /* padding:0px 20px; */
    box-shadow: 5px 5px 5px rgb(230, 214, 214);
    
    
    }
    #logo{
        width: 150px;
        height: 75px;
        background-image: url("./images/logo2.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        object-fit: scale-down;

        
    }
    nav ul{
    list-style: none;
    display: flex;
    margin-top: 10px;
    padding-top: 15px;
    
    }
    nav ul li a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 20px;
    }
    nav ul li a:hover{
    background-color:  rgb(4, 4, 43);;
    color: white;
    border-top-left-radius: 20px ;
    transition: 0.7s;
    }
.main-container{
width:100%;
height:100vh;
/* background-color:   rgb(14, 153, 165); */
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 40px;
}
.container{
width: 1000px;
height: 600px;
/* border: 10px solid white;  */
/* background-color: rgb(211, 226, 254); */
position: relative;
box-shadow: 10px 10px 10px 5px rgb(130, 128, 128);
}
.prev{

position: absolute;
top: 50%;
left: 5%;
font-size: 25px;
font-weight: bold;

}
.next{
position: absolute;
top: 50%;
right: 5%;
font-size: 25px;
font-weight: bold;
}
.nav-btn{
width: 40px;
height: 40px;
border-radius: 50%;
background-color: rgb(185, 180, 190);
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: 0.5%;
z-index: 1;
}
.nav-btn:hover{
background-color: white;
color: rgb(1, 7, 12);

}
.carousel-contatiner img{
width: 1000px;
height:600px;
}
.item{
position: absolute;
display: none;
}
.main{
display: block;
}
.carousel-contatiner{
position: relative;
}
.caption{
position: absolute;
bottom: 0px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(231, 227, 227, 0.388);
color: rgb(163, 230, 236);
height: 35px;
}
.service{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700px;
    font-size: 27px;
    text-align: center;
    color: rgb(4, 4, 43);
    text-shadow: 5px 5px 5px grey;
}
.content{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    /* margin-left: 250px; */
    color: rgb(4, 4, 43);
    font-weight: 200px;
    font-size: 18px;
    
    
}
.container1{
    width:100%;
    height:700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 30px; */
    /* background-color: rgb(14, 153, 165); */
   
}
.container2{
    width:100%;
    height:700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 30px; */
    /* background-color: rgb(14, 153, 165); */
}

.Box1{
    width:420px;
    height: 600px;
    box-shadow: 10px 10px 10px rgb(194, 190, 190);

    
    
}
.Box2{
    width:420px;
    height: 600px;
    box-shadow: 10px 10px 10px rgb(194, 190, 190);
    
    
}
.Box1:hover{
    transform: translate(5px,5px);
    box-shadow: 10px 10px 10px rgb(241, 97, 97);
}
.Box2:hover{
    transform: translate(5px,5px);
    box-shadow: 10px 10px 10px rgb(241, 97, 97);
}

footer{
    width:100%;
    height:70px;
    background-color: rgba(238, 5, 24, 0.751);
    color: rgb(4, 4, 43);
    padding: 15px;
    text-align: center;
    font-weight: bolder;
}
footer a{
    text-decoration: none;
    margin-top: 5px;
    padding: 3px 10px;
}
footer a:hover{
    background-color:  rgb(4, 4, 43);;
    color: white;
    border-top-left-radius: 20px ;
    transition: 0.7s;
}

.image{
    width: 420px;
    height: 300px;
    /* border: 1px solid black; */

}
h3{
    margin-top: 10px;
}
.link{
    width: 150px;
    margin-top: 10px;
    text-align: center;
    margin-left:150px
}
.link a{
    text-decoration: none;
    color: red;
    font-weight: bold;
    padding: 10px 20px;

}
.link a:hover{
    background-color:  rgb(4, 4, 43);;
    color: white;
    border-top-left-radius: 20px ;
    transition: 0.7s;
}
.text{
    width: 420px;
    height: 200px;
    padding: 20px;
    
}
#box1 .image{
    background-image: url("./images/spotify-logo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#box2 .image{
    background-image: url("./images/flipkart3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: -40px; */
}
#box3 .image{
    background-image: url("./images/zomato-logo2.jpg");
    background-repeat: no-repeat;
    object-position: 100%;
    object-fit: cover;
    background-size: cover;
}
#box4 .image{
    background-image: url("./images/unnamed.png");
    object-position: 100%;
    background-size: cover;
    background-position: -4px;
    
    
}
#box5 .image{
    background-image: url("./images/photo-1524230659092-07f99a75c013.avif");
    background-repeat: no-repeat;
    object-fit: scale-down;
    object-fit: contain;
    background-size: cover;
    background-position: 100%;
}
#box6 .image{
    background-image: url("./images/pexels-matin-zahid-7063450.jpg");
    background-repeat: no-repeat;
    object-position: 100%;
    object-fit: cover;
    background-size: cover;
}
.line{
    color: white;
    width: 100px;
    height: 2px;
    font-size: larger;
    text-decoration: overline 3px red;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    body{
        background-color: rgb(249, 241, 226);
        /* margin-bottom: 500px; */
        margin-left: 5px;
        margin-right: 10px;
    }
    header{
        width: 100%;
        
    }
    nav ul li a{
        font-size: 15px;
        font-weight: bold;
        padding: 5px 5px;
    }
    .main-container{
    width:100%;
    height:400px;
    /* background-color:  rgba(25, 52, 102, 0.166); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 700px; */
    }
    .container{
    width: 100%;
    height: 300px;
    /* border: 10px solid white;  */
    /* background-color: rgb(211, 226, 254); */
    position: relative;
    box-shadow: 10px 10px 10px 5px white;
    }
    .carousel-contatiner img{
    width: 100%;
    height:300px;
    }
    .service{
        width: 100%;
        height: 75px;
        text-align: center;
        text-shadow: 5px 5px 5px rgb(15, 4, 47);
        
    }
    .content{
        width: 100%; 
        height: 500px;
        text-align: center;
    }
    .container1{
        width:100%;
        height:2000px;
        flex-direction: column;
       
    }
    .container2{
        width: 100%;
        flex-direction: column;
        height: 2000px;
    }
    
    .Box1{
        width:100%;  
        height: 1200px;
    }
    .Box2{
        width:100%;  
        height: 1200px;
    }
    #box1,#box2,#box3{
        width: 100%;
        margin-bottom: 100px;
        
    }
    #box4,#box5,#box6{
        width: 100%;
        margin-bottom: 100px;
        
    }
    footer{
        width:100%;
        /* display: none; */
        
    }
    .image{
        width: 100%;
        height: 300px;
        /* border: 1px solid black; */
        background-position: 70%;
    
    }
    /* .image{
        width: 100%;
    } */
    h3{
        margin-top: 10px;
    }
    
    .line{
        color: white;
        width: 100%;
        height: 2px;
        font-size: larger;
        text-decoration: overline 3px red;
    }
    .text{
        width: 100%;
        height: 250px;
    }
    .link{
        margin-left: 0px;
    }
    
}


@media screen and (min-width: 501px) and (max-width: 1200px) {


        header{
            /* margin-top: 20px; */
            width: 150%;
            height:75px;
            background-color:rgba(254, 251, 251, 0.952);
            color:black;
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            /* padding:0px 20px; */
            box-shadow: 5px 5px 5px rgb(230, 214, 214);
            
        } 
        .btn{
            width:100px;
            padding: 7px;
            border-radius: 7px;
            margin-top: 20px;
            background-color: rgba(69, 26, 91, 0.775);
            color:aliceblue;
            border: 0px;
            margin-bottom: 30px;
        
        }
        .main-container{
        width:90%;
        height:800px;
        margin-bottom: 40px;
        }
        .container{
        width: 90%;
        height: 500px;
        }
        .carousel-contatiner img{
        width: 900px;
        height:500px;
        }
        .service{
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: 700px;
            font-size: 27px;
            text-align: center;
            color: rgb(4, 4, 43);
            text-shadow: 5px 5px 5px grey;
            margin-left: 50px;
        }
        .content{
            margin-top: 20px;
            width: 100%;
            text-align: center;
            /* margin-left: 250px; */
            color: rgb(4, 4, 43);
            font-weight: 200px;
            font-size: 18px;
            margin-left: 100px;
            
            
        }
        .container1{
            width: 150%;
            height:800px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            /* margin-top: 30px; */
            /* background-color: rgb(14, 153, 165); */
           
        }
        .container2{
            width:150%;
            height:800px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            /* margin-top: 30px; */
            /* background-color: rgb(14, 153, 165); */
        }
        
        .Box1{
            width:150%;
            /* height: 550px; */
            box-shadow: 10px 10px 10px rgb(194, 190, 190);
        
            
            
        }
        .Box2{
            width:150%;
            /* height: 550px; */
            box-shadow: 10px 10px 10px rgb(194, 190, 190);
            
            
        }
        .image{
            width: 100%;
            /* height: 300px; */
            /* border: 1px solid black; */
        
        }
        .footer{
            width: 100%;
        }
        
        
}  